
.comp-1-full-box{
display: flex;
flex-direction: row;
justify-content: space-between;
padding:10% 2% 6% ;
height: 12rem;
.comp-1-single-box{
    background-color: #eeeeee;
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 3%;
    .comp-1-image{
        margin-top: -27%;
    }
    .comp-1-name{
        font-weight: 600;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #47484a;
        margin-top: -8%;
         border: none;
        //  background-color: #ececec;
        &:hover{
            color: #d98454;
        }
    }
    .comp-1-shop{
        font-size: 0.8rem;
        color: #8e9093;
        border: none;
        span{
            font-weight: bolder;
            color: #d98454;
            &:hover{
                color: black;
            }
        }
        &:hover {
                color: #d98454;
            }
        
    }
}
}